<div class="container">
  <div id="contenido" class="container text-center">
    <h3>Verifica tu identificación</h3>
                  <p class="p-2 border border-danger text-center"> 
                      <img alt="" class="img-fluid" src="{{img}}">
                    </p>
                  <p class="text-2 text-center">
                      {{titulo}}
                  </p>    
                  <p class="my-3">
                    <button (click)="back()" type ="button" class="btn btn-lg btn-block btn-outline-danger mr-3 btnUrl"><i class="fas fa-times"></i> Tomar de nuevo</button>
                  </p>
                  <p class="my-3">
                    <button (click)="continue()" type ="button" class="btn btn-lg btn-block btn-danger mr-3 btnUrl"><i class="fas fa-check"></i> Si, está bien</button>
                  </p>

                  
                 
             
    </div>
  </div>
  