<div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-4">
        <main role="main" id="adentro" class="flex-shrink-0"> <!-- Esta es la parte que se debe cambiar-->
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col py-4">
                <h2 class="text-center">Verifica tu identificación</h2>
                  <p class="p-2 border border-danger text-center"> 
                      <img alt="" class="img-fluid" src="{{img}}">
                    </p>
                  <p class="text-2 text-center">
                      {{titulo}}
                  </p>    
                  <p class="my-3">
                    <button (click)="back()" type ="button" class="btn btn-lg btn-block btn-outline-danger mr-3 btnUrl"><i class="fas fa-camera"></i> Intentar de nuevo</button>
                  </p>
                  <p class="my-3">
                    <button (click)="continue()" type ="button" class="btn btn-lg btn-block btn-danger mr-3 btnUrl">Usar ésta foto</button>
                  </p>
              </div>
            </div>
          </div>
        </main>
        <!-- Esta es la parte que se debe cambiar--> 
      </div>
    </div>
  </div>
  