<div class ="clientcontainer text-center">
    <h1>3D Face Liveness web-client</h1>
    <p id="instructions">{{instTxt}}</p> 
    <div class ="videocontainer text-center">
        

        <canvas #canvas borde="1" class="border border-primary">
            <img id="scream_green"  src="../../../../../assets/icons/frame_overlay_far_green.png" alt="The Scream">
            <img id="scream_red"  src="../../../../../assets/icons/frame_overlay_far_red.png" alt="The Scream">
            <video width="100%" class="ui-canvas" height="100%" class ="text-center" muted playsinline autoplay> Placeholder for video</video>
        </canvas>


    </div>
    <button class="btn btn-primary" [disabled]="blnStart" (click)="startButton()">{{navegador}}</button>
</div>     