<div class="container">
    <div class="row justify-content-center">
        <header class="header mt-2">
            <img alt="daon_image" class="daon-image" src="../../../assets/daon/mitLogo.png" />
        </header>
    </div>
</div>
<div class="container-fluid" style=" max-width:750px">
    <div class="row justify-content-center rowNew">
        <div class="col-12 col-md-6 columna">
            <h3> Selfie</h3>
            <p>Toma una selfie</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 ">
            Asegúrate de estar en un área bien iluminada
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 ">
            Estár delante de un fondo liso
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 ">
            No tener gorras, lentes o algo que pueda ocultar tu rostro
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 ">
            Manten una expresión seria
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 ">
            <button class="btn btn-primary" (click)="continuar()" id="validarBoton">Continuar</button>
        </div>
    </div>
</div>