<div class="container-fluid" style=" max-width:750px">
    <div class="row justify-content-center rowNew">
        <div class="col-12 col-md-6 columna" id="tituloDiv">
            <h3> Ya tienes una sesion iniciada, deseas continuar</h3>
        </div>
    </div>
    <div class="row"></div>
    <div class="row justify-content-center">
        <div class="col-4 ">
            <button class="btn btn-info" (click)="nuevoRegistro()" id="nuevoBoton">Nuevo</button>
        </div>
        <div class="col-4 ">
            <button class="btn btn-info" (click)="continuarRegistro()" id="continuarBoton">Continuar</button>
        </div>
    </div>
</div>