div {
    font-family: 'Raleway';
    font-size: '38px'
}

.error {
    color: red
}

h2 {
    color: blue
}

.title {
    margin: auto;
    width: 50%;
    padding: 10px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 800px;
    }
}


/* .algunBorder {
    border-style: solid;
    border-color: blue;
} */