<div class="container">
  <div id="contenido" class="container">
    <h3 class="my-3 text-center">
                  Valida tu información</h3>
                  
                  <p class="text-2 text-center">
                      Esta información la extrajimos
  de tu identificación, sino es
  correcta vuelve a subir una imagen.
                  </p>
                  
                  <form>
                  <div class="form-group">
                      <label>Nombre</label>
                    <input [readonly]="true"  type="text" class="form-control form-control-lg" value="{{nombre}}">
                    <small class="form-text text-muted"></small>
                  </div>
                      
                      <div class="form-group">
                      <label>Dirección</label>
                    <input [readonly]="true" type="text" class="form-control form-control-lg" value="{{direccion}}">
                    <small class="form-text text-muted"></small>
                  </div>
                      
                      <div class="form-group">
                      <label>CURP</label>
                    <input [readonly]="true" type="text" class="form-control form-control-lg" value="{{curp}}">
                    <small class="form-text text-muted"></small>
                  </div>
                  </form>   
                      <p class="my-3">
                    <button (click)="updateValuesSession()" type ="button" class="btn btn-lg btn-block btn-danger mr-3 btnUrl" >Continuar</button>
                  </p>
                  <p class="my-3">
                    <button (click)="backAndTakeAgain()"  type ="button" class="btn btn-lg btn-block btn-outline-danger mr-3 btnUrl">Intentar de nuevo</button>
                  </p>
                
              
    </div>
  </div>