<div class="container">
    <div class="row justify-content-center">
        <div class="errorMensaje" *ngIf="errorMensaje && errorMensaje.length > 0">
            {{errorMensaje}}
        </div>
        <div class="col col-md-4">
            <main role="main" id="adentro" class="flex-shrink-0"> <!-- Esta es la parte que se debe cambiar-->
                <div class="container-fluid">
                  <div class="row justify-content-center">
                    <div class="col py-4">
                      <h2 class="text-center">{{title}}</h2>
                      <p class="px-5"><img alt="" class="img-fluid" [src]="imgUrl"> </p>
                        <p class="text-2 text-center">{{instruction}}</p>
                    
                      <form class="form-control-lg">
                    
                        <p class="my-3">
                          <button type="button" class="btn btn-lg btn-block btn-danger rounded-lg mr-3 btnUrl" (click)="getDataToRedirect()" id="finalizarBtn"><i class="far fa-thumbs-up"></i> {{btnText}}</button>
                        </p>
                      </form>
                    </div>
                  </div>
                </div>
              </main>
            <!-- Esta es la parte que se debe cambiar-->
        </div>
    </div>
</div>
