<div *ngIf="filtersLoaded | async" class="container">
    <div class="row justify-content-center">
        <div class="errorMensaje" *ngIf="errorMensaje && errorMensaje.length > 0">
            {{errorMensaje}}
        </div>
        <div id="contenido" class="container">
            <h3 class="my-3 text-center">{{title}}</h3>
                            <p class="px-5"> <img alt="" class="img-fluid" [src]="imgUrl"> </p>
                            <p class="text-2 text-center">{{instruction}}</p>
                            <ul class="fa-ul">
                                <li class="mb-4"><span class="fa-li"><i class="far fa-check-circle text-success fa-lg"></i></span>{{stepOne}}</li>
                                <li class="mb-4"><span class="fa-li"><i class="far fa-check-circle text-success fa-lg"></i></span>{{stepTwo}}</li>
                            </ul>

                            <form >
            
                                <p class="my-3">
                                  <button type="button" class="btn btn-lg btn-block btn-danger rounded-lg mr-3 btnUrl" (click)="enter()" id="validarBoton"><i class="fas fa-video"></i> {{btnTitle}}</button>
                                </p>
                              </form>
            <!-- Esta es la parte que se debe cambiar-->
        </div>
    </div>
</div>

<!--
    <div *ngIf="filtersLoaded | async" class="text-center">

    <div class="errorMensaje" style="color: red" *ngIf="errorMensaje && errorMensaje.length > 0">
        {{errorMensaje}}
    </div>

    <div class="container mt-3">
        <div class="row  justify-content-md-around">
            <div class="col-12 col-lg-4 offset-1">
                <h2>Prueba de Vida</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>Para continuar, se tomará un video y tendrás que seguir las instrucciones que apareceran en pantalla</h5>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-4 offset-4 error">
    </div>

    <div class="container mt-4">
        <div class="row align-items-center">
            <div class="col-12 offset-2 col-lg-2 text-right">
                <img src="../../../../../assets/icons/inst1.png" alt="">
            </div>
            <div class="col-12 col-lg-7 text-left">
                <h4>Asegúrate de estar en un área bien iluminada</h4>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-12 offset-2 col-lg-2 text-right">
                <img src="../../../../../assets/icons/inst2.png" alt="">
            </div>
            <div class="col-12 col-lg-7 text-left">
                <h4>Sosten la camara de forma que tu cara este dentro del ovalo</h4>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 offset-2 col-lg-2 text-right">
                <img src="../../../../../assets/icons/inst3.png" alt="">
            </div>
            <div class="col-12 col-lg-7 text-left">
                <h4>Continua cuando estes listo</h4>
            </div>
        </div>
        <div class="row align-items-center justify-content-md-around">
            <div class="col-12 col-lg-7 offset-1" id="sppinerPlace">
                <button (click)="enter()" class="btn btn-primary">Iniciar</button>
            </div>
        </div>

    </div>


</div>
-->