<div *ngIf="filtersLoaded | async" class="text-center">
    <div class="errorMensaje" style="color: red" *ngIf="errorMensaje && errorMensaje.length > 0">
        {{errorMensaje}}
    </div>
    <div class="m-5">
        <h1>Prueba de Vida</h1>
    </div>
    <div>
        <h5>Para una mayor seguridad, realizaremos un video de verificación</h5>

    </div>
    <br><br>
    <div>
        <h5>En la siguiente pagina, se tomará un video donde tendrás que seguir las instrucciones que apareceran en pantalla</h5>
    </div>
    <br>
    <div class="m-4 card">
        <div class="m-1 row">
            <div class="m-4">
                <img src="../../../../../assets/icons/inst1.png" alt="">
            </div>
            <div>
                <h4>Asegúrate de estar en un área bien iluminada</h4>
            </div>
        </div>
    </div>

    <div class="m-4 card">
        <div class="m-1 row">
            <div class="m-4">
                <img src="../../../../../assets/icons/inst2.png" alt="">
            </div>
            <div>
                <h4>Sosten la camara de forma que tu cara este dentro del ovalo</h4>
            </div>
        </div>
    </div>

    <div class="m-4 card">
        <div class="m-1 row">
            <div class="m-4">
                <img src="../../../../../assets/icons/inst3.png" alt="">
            </div>
            <div>
                <h4>Continua cuando estes listo</h4>
            </div>
        </div>
    </div>

    <div class="m-5 border">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="enter()">Iniciar</button>
    </div>

</div>
