<div class="page-content">
    <div class="errorMensaje" *ngIf="errorMensaje && errorMensaje.length > 0">
        {{errorMensaje}}
    </div>
    <div class="m-20">
        <header>
            <div class="button-back-container">
                <button class="btn rounded" (click)="back()"><img src="../../../../assets/icons/left-curve-arrow.png" alt=""> Atras</button>
            </div>
        </header>
        <h1>{{titulo}}</h1>

        <img class="icon-passport-example" src="../../../../assets/icons/icoscan.png" alt="doc capture icon" />
        <p class="center">Sube o toma foto de tu documento</p>
        <div class="panel border-gray bg-row">
            <div class="margin-h-auto">
                <img class="img-document-example" src="../../../../assets/icons/idcard.png" alt="document example" />
                <p class="center">Así es como deberá de mostrarse</p>
            </div>
        </div>

        <div *ngIf="(this.mensaje=='' || this.mensaje==undefined) ; then thenOK else elseErr"></div>

        <ng-template #elseErr>
            <div>
                <div class="panel bg-red flex-row">
                    <div class="round-icon round-icon-red">
                        <svg class="icon  icon-Rejected icon-white">
                        <use xlink:href="this.icon.icon-Rejected"></use>
                    </svg>
                    </div>
                    <div class="panel-content">
                        <p>{{mensaje}}</p>
                    </div>
                </div>
            </div>
        </ng-template>


        <div>
            <span>
                <input #imgInput type="file" accept="image/*" (change)="processFile(imgInput)">
                <button (click)="imgInput.click()" class="btn blue">Subir documento</button>
            </span>
            <button type="button" (click)="captueWCamera()" class="btn btn-light btn-lg btn-block">Tomar foto con la camara</button>
        </div>

    </div>

</div>