<div class="container">
  <div id="contenido" class="container">
    <h3 class="my-3 text-center">¿Está bien tu selfie?</h3>
                 <p class="px-5"> <img src="{{'data:image/jpg;base64,' + foto}}" class="{{(isAndroid && isNative) ? 'img-preview rotate-mobile-native':'img-preview flip-x'}}" /></p>
                <form class="form-control-lg">
                  <p class="my-3">
                    <button type="button" class="btn btn-lg btn-block btn-outline-danger rounded-lg mr-3 btnUrl"
                    (click)="back()">Tomar de nuevo</button>
                  </p>
                  <p class="my-3">
                    <button type="button" class="btn btn-lg btn-block btn-danger rounded-lg mr-3 btnUrl"
                    (click)="guardar()">Sí, está bien</button>
                  </p>
                </form>
             
    </div>
  </div>