<div class="container">
    <div class="row">
        <div class="col-md-3 col-7">Nombre</div>
        <div class="col-md-6 col-12">{{nombre}}</div>
    </div>
    <div class="row">
        <div class="col-md-3 col-7">Direccion</div>
        <div class="col-md-6 col-12">{{direccion}}</div>
    </div>
    <div class="row">
        <div class="col-md-3 col-7">otro</div>
        <div class="col-md-6 col-12">{{nombre}}</div>
    </div>
    <div class="row">
        <button class="col-12 col-md-5 btn-primary" (click)="updateValuesSession()">Continuar</button>
        <button class="col-12 col-md-5 btn-secondary" (click)="updateValuesSession()">Volver a tomar</button>
    </div>
</div>