<div *ngIf="filtersLoaded | async" class="text-center">
    <div class="m-5">
        <h1>Verificación de Identidad</h1>
    </div>
    <div class="m-2 pb-4">
        <h4>
            <p class="font-weight-light text-secondary">Selecciona el tipo de documento a validar</p>
        </h4>
    </div>

    <div class="m-4 card  bg-light" (click)="agregarOferta('PASSPORT')">
        <div class="m-1 row">
            <div class="m-4 card">
                <img src="../../../../assets/icons/world-wide-web.png" alt="">
            </div>
            <div>
                <h3>Pasaporte</h3>
                <h4>
                    <p class="font-weight-light text-secondary">Fotografía frontal</p>
                </h4>
            </div>
        </div>
    </div>

    <div class="m-4 card  bg-light" (click)="agregarOferta('ID_CARD')">
        <div class="m-1 row">
            <div class="m-4 card">
                <img src="../../../../assets/icons/world-wide-web.png" alt="">
            </div>
            <div>
                <h3>INE</h3>
                <h4>
                    <p class="font-weight-light text-secondary">Frente y Reverso</p>
                </h4>
            </div>
        </div>
    </div>
</div>