<div *ngIf="filtersLoaded | async" class="text-center">
    <div class="ui-canvas-container embed-responsive-item text-center">
        <div class="ui-canvas text-center">
            <video id="video" width="60%" height="60%" controls>
                        Your browser does not support HTML5 video.
                    </video>
            <div>
                <p class="text-center">{{mensaje}}</p>
            </div>
            <div>
                <button class="btn btn-primary" (click)="enter()" style="width:60%">Document Capture</button>
            </div>
        </div>
    </div>
</div>