<div [hidden]="!activator" class="container">
    <div data-testid="wrapper" class="_loading_overlay_wrapper css-79elbk">
        <div class="page-capture">
            <div style="visibility: visible;">
                <div class="native-capture-box box-shadow">¿Algún problema?<span><input type="file" accept="image/*" capture="user"><button class="button-link">Subir Selfie</button></span></div>
            </div>
            <!-- <div class="ui-canvas-container"><video class="ui-canvas" autoplay="" playsinline="" style="transform: scaleX(-1);"></video> -->
            <div class="ui-canvas-container">
                <video class="ui-canvas" autoplay="" playsinline=""></video>
                <div class="overlay overlay-oval"></div>
            </div>
            <footer>
                <!-- <div class="message-box box-shadow " id="cambio">Position your face inside the marked area</div> -->
                <button class="btn blue" (click)="imprimirImagen()">CAPTURE SELFIE</button>
            </footer>
        </div>
    </div>
</div>

<button *ngIf="filtersLoaded | async" (click)="captura()">capturar</button>

<div *ngIf="!activator" class="container">
    <app-facial-verification [foto]="imprimirImagen()" [id]="id"></app-facial-verification>
</div>