/* You can add global styles to this file, and also import other style files */
/*
#root {
    height: 100%;
}

.container {
    font-family: 'Raleway';
    font-size: '18px'
}
 
body {
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: 'Raleway';
}

input[type=file] {
    display: none;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 600px) {
    .page-content {
        width: 600px;
    }
}

.center {
    text-align: center;
}

.m-20 {
    margin: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 71px;
}

.row-justify-space {
    justify-content: space-between;
}

.row-justify-center {
    justify-content: center;
}

.row-justify-space button {
    width: 48%;
}

.column {
    flex-flow: row wrap;
    flex: 1 100%;
    align-items: center;
    flex-direction: column;
    flex-basis: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-justify-center {
    justify-content: center;
}

p {
    color: rgb(121, 140, 149);
    font-size: 18px;
    line-height: 20px;
}

*/
/* header {
min-height: 36px;
} */

/*
@media (min-aspect-ratio: 3/4) {
    .ui-canvas-container {
        height: 100%;
        width: calc(100vh*3/4);
        margin: 0 auto;
    }
    footer {
        width: calc(95vh*3/4);
        margin: 0 auto;
    }
}

*/
/*Botones*/
/*
.btn {
    height: 44px;
    width: 100%;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-box-shadow: inset 0 1px 0 1px rgba(255, 255, 255, 0.1), 0 1px 0 0 rgba(54, 64, 69, 0.1);
    -webkit-box-shadow: inset 0 1px 0 1px rgba(255, 255, 255, 0.1), 0 1px 0 0 rgba(54, 64, 69, 0.1);
    box-shadow: inset 0 1px 0 1px rgba(255, 255, 255, 0.1), 0 1px 0 0 rgba(54, 64, 69, 0.1);
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    margin-top: 24px;
    color: white;
}

.btn.blue {
    border: 1px solid rgb(0, 151, 221);
    background-color: rgb(0, 164, 245);
}

.btn.green {
    border: 1px solid rgb(13, 128, 70);
    background-color: rgb(74, 179, 54);
}

.btn.white {
    border: 1px solid rgb(187, 197, 201);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(248, 249, 249) 100%);
    color: rgb(56, 64, 72);
    box-shadow: 0 1px 0 0 rgba(54, 64, 69, 0.05);
}

.btn.gray {
    border: 0;
    background-color: #ececec;
    color: #c6c4c4;
}
*/

/*Panel*/
/*
.panel {
    display: flex;

    border-radius: 5px;
    align-items: center;
    height: auto;
    overflow: auto;
}

.panel p {
    margin-right: 15px;
}

.border-green {
    border: solid 1px rgb(191, 230, 184);
}

.border-gray {
    border: solid 1px rgb(220, 225, 227);
}

.bg-gray {
    background-color: rgb(248, 249, 249);
}

.bg-green {
    background-color: #E8F2E6;
}

.bg-blue {
    background-color: #E3F5FD;
}

.bg-red {
    background-color: #FFECE6;
}

.flip-x {
    transform: scaleX(-1);
}

.overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(92, 110, 119, 0.6);
    ;
}

.overlay-rect {
    -webkit-mask-size: cover;
    mask-size: cover;
}

.overlay-rect-id {
    mask-image: url(overlay-id-sm.png);
    -webkit-mask-image: url(overlay-id-sm.png);
}

.overlay-rect-passport {
    mask-image: url(/overlay-passport-sm.png);
    -webkit-mask-image: url(/overlay-passport-sm.png);
}

.overlay-oval {
    mask-image: radial-gradient(70% 65% ellipse at 50% 42%, transparent 50%, white 53%);
    -webkit-mask-image: radial-gradient(70% 65% ellipse at 50% 42%, transparent 50%, white 53%);
    mask-size: cover;
    -webkit-mask-size: cover;
}

.overlay-f3d {
    mask-image: url(/frame_overlay_far_red.png);
    -webkit-mask-image: url(/frame_overlay_far_red.png);
    mask-size: cover;
    -webkit-mask-size: cover;
}

._loading_overlay_wrapper {
    height: 100%;
}

._loading_overlay_overlay {
    position: fixed;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
}

.scale-edge {
    transform: scale(-2, 2.4) !important;
}


*/



html,body {
    height: 100%;
  }
  
  /* Cambio algunos colores*/
  .footer {
    background-color: #f5f5f5;
  }
  
  /* Fuentes*/
  body {
      font-family: 'Raleway', sans-serif;
  }
  
  /**/
  .h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
      margin-bottom: .5rem;
      font-weight: 700;
      line-height: 1.2
  }
  
  /* Pinche David*/
  .text-2{
      font-size: 1.5em;
      font-weight: 700;
      color:#747474;
      line-height: 1
  }
  
  .texto-3{
      font-size: .9em;
      color: #000000;
  }
  
  .border {
      border-width: 3px !important;
  }
  
  .rounded {
      border-radius: 1rem!important;
  }
  
  .shadow {    
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.5)!important;
  }
  
  .img-inverted {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
  
  .bg-light {
      background-color: #D0D0D0 !important;
  }
  
  .pdp {
    padding:10px;
  }