<div class="container">
    <div class="row justify-content-center">
        <div class="col col-md-4">
            <main role="main" id="adentro" class="flex-shrink-0"> <!-- Esta es la parte que se debe cambiar-->
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col py-4 text-center">
                            <h2>Correo electrónico</h2>
                            <p class="px-5">
                                <img alt="" class="img-fluid" src="img/3.1.Requerimos correo.png">
                            </p>
                            <p class="text-2 tex-muted">
                                Ingresa tu e-mail. te enviaremos un correo de confirmación.
                            </p>
                            
<div *ngIf="filtersLoaded | async" class="container-fluid" style=" max-width:750px">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 ">
            <input [disabled]="validEmailField" type="text" id="correoInput" placeholder="Correo" (input)="onSearchChange($event.target.value)">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 ">
            <button [disabled]="!correoText || validEmailField" class="btn btn-primary" (click)="aceptar()" id="validarBoton">Validar Correo</button>
        </div>
    </div>



</div>

<div *ngIf="validEmailField">
    <div>{{error}}</div>
    <app-correo [id]="id" (resultValidation)='reciveResultFromValidate($event)'></app-correo>
    <!-- <button class="btn btn-primary" (click)="changeEmail()" id="cambiarEmailBoton">Cambiar Correo</button> -->
</div>

                        </div>
                    </div>
                </div>
            </main>      
        </div>
    </div>
</div>